.home_pic{
    width: 20%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home p{
    font-size: 20px;
    padding: 10px;
    transition: all .3s ease;
    margin-bottom: 3%;
    background-color:  pink;
    border-radius: 5px;
    color: #fff;
}
.contact{
    margin-left: 5%;
}
.contact h4{
    display: flex;
    background-color: pink;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.home p:hover{
    background-color: rgba(85, 85, 85, 0.021);
    color: #fff;
}
.home{
    padding-top: 40px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    position: fixed;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.move{
    margin-top: -5%;
    color: #fff;
    background-color: pink;
    border-radius: 20px;
    width: 40%;
    padding: 7px;
    font-weight: 800;
    
}